@model ProductListViewModel




<div class="row">
    <div class="col-md-12">
        <h1 class="display-5">Admin Product</h1>
        <hr>
        <li class="nav-item">
            <a href="/admin/products/create" class="btn btn-primary btn-sm">Add Product</a>
        </li>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td style="width:30px;">Id</td>
                    <td style="width:100px;">Image</td>
                    <td>Name</td>
                    <td style="width:20px;">Price</td>
                    <td style="width:150px;">Anasayfa</td>
                    <td style="width:150px;">Onaylı</td>
                    <td style="width:150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count > 0)
                {
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td><img src="~/images/@item.ImageUrl" width="80"></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>
                                @if (item.IsHome)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text-danger"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text-danger"></i>
                                }
                            </td>
                            <td>
                                <a href="/admin/products/@item.ProductId" class="btn btn-primary btn-sm mr-2">
                                    Edit
                                </a>
                                <form action="ProductDelete" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@item.ProductId">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Products</h3>
                    </div>
                }

            </tbody>
        </table>
    </div>
</div>