<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ShopApp</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae, non earum
                reiciendis praesentium ut a, eveniet provident deleniti iure, sit omnis iste aperiam minus animi vel
                quidem asperiores eos?</p>
        </div>
    </div>
</header>