<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
        <div class="card-body">
            <form action="/shop/search" class="" method="get">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="search..">
                </div>
                <button type="submit" class="btn btn-danger btn-sm btn-block ">Ara</button>
            </form>
        </div>
    </div>
</div>
